@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;700&display=swap');

:root {
  --font-family: 'Hind', sans-serif;
  --color-primary: #279af1;
  --color-dark: #04101a;
  --color-light: #f5f8fa;
  --color-danger: #f13327;
  --color-grey-light: #c5d0d9;
  --color-grey-dark: #666d73;
  --border-radius: 4px;
  --max-width: 1200px;
  --transition: all 0.2s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
